@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.fs-7 {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

.btn {
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-1px);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #0d6efd !important;
}