<div class="container mt-5">
  <div class="mb-4 bg-light rounded-3 shadow-sm text-center border">
    <div class="container-fluid py-2">
      <h1 class="display-4 fw-bold text-primary">Gestão de Saúde 4Tech</h1>
      
      <hr class="my-4" style="margin-bottom: 10px;">

      <div class="d-flex justify-content-center gap-4 flex-wrap py-5">
        <div class="card shadow-sm border-0" style="width: 18rem;">
          <div class="card-body text-center">
            <h1 class="text-primary mb-3"><i class="bi bi-card-checklist"></i></h1>
            <h5 class="card-title fw-bold">Planos</h5>
            <p class="card-text text-muted">Cadastre e gerencie os planos de saúde disponíveis.</p>
            <a routerLink="/planos" class="btn btn-outline-primary w-100">Acessar Planos</a>
          </div>
        </div>

        <div class="card shadow-sm border-0" style="width: 18rem;">
          <div class="card-body text-center">
            <h1 class="text-success mb-3"><i class="bi bi-people-fill"></i></h1>
            <h5 class="card-title fw-bold">Beneficiários</h5>
            <p class="card-text text-muted">Controle o cadastro de usuários e vínculos.</p>
            <a routerLink="/beneficiarios" class="btn btn-outline-success w-100">Acessar Beneficiários</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <footer class="text-center text-muted mb-3">
    <small>Desafio Técnico 4Tech &copy; 2025</small>
  </footer>
</div>